
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* ============================================================================ */
/* Global styles */
/* ============================================================================ */

.no-cursor {
  cursor: none;
}

.blurred {
  -webkit-filter: blur(15px) grayscale(85%);
  filter: blur(10px) grayscale(80%);
}

.graph-editor {
  background: #ebebeb;
  color: #617170;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graph-editor * {
  box-sizing: border-box;
}

.graph-editor {
  height: 100%;
  width: 100%;
}

.graph-editor ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.graph-editor input,
.graph-editor select {
  color: #666;
}

.graph-editor select,
.graph-editor button,
.graph-editor input[type="checkbox"] {
  cursor: pointer;
  height: 24px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graph-editor select:disabled,
.graph-editor button:disabled,
.graph-editor input:disabled {
  opacity: 0.5;
}

.graph-editor label {
  cursor: pointer;
}

.graph-editor select {
  text-transform: capitalize;
}

.graph-editor input[type="checkbox"],
.graph-editor input[type="radio"] {
  height: auto;
  vertical-align: bottom;
}

.graph-editor button {
  border-radius: 3px;
  border: solid 1px #bbb;
  background: #e6e6e6;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  outline: none;
}

.graph-editor button:hover {
  background: #dddddd;
}

.graph-editor button:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}