/* ============================================================================ */
/* Properties menu styles */
/* ============================================================================ */

.properties-menu-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/* Properties menu start */

.property-menu {
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  overflow: hidden;
}

.property-menu.edge-properties .header .color {
  display: none;
}

.property-menu.edge-properties .header .label {
  margin-left: 0;
}

.property-menu.opened {
  opacity: 1;
  pointer-events: all;
}

/* header ===================================================================== */

.property-menu .header {
  background: #fafafa;
  border-bottom: solid 1px #ddd;
  padding: 10px 10px 7px;
  position: relative;
}

.property-menu .header input {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.property-menu .header .label {
  margin: 0 22px;
  display: block;
}

.property-menu .header .label input {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  width: 150px;
  text-transform: capitalize;
}

.property-menu .header .label .type {
  display: block;
  color: #888;
  line-height: 7px;
  padding-bottom: 5px;
}

.property-menu .header .color {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px;
  top: 13px;
  border-radius: 50%;
  overflow: hidden;
}

.property-menu .header .color input {
  width: 100px;
  height: 100px;
  margin: -15px;
}

.property-menu .header .drag-handler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  padding-top: 20px;
  padding-left: 5px;
  cursor: move;
}

.property-menu .header .drag-handler:before,
.property-menu .header .drag-handler:after {
  content: '';
  margin-bottom: 2px;
  display: block;
  border-top: dotted 2px #ddd;
  border-bottom: dotted 2px #ddd;
  width: 6px;
  height: 2px;
}

/* main ======================================================================= */

.property-menu .main {
  min-height: 25px;
  display: flex;
}

.property-menu .main .properties {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.property-menu .main ul#properties-list {
  flex: 1;
  max-height: 40vh;
  overflow: auto;
  border-bottom: solid 1px #ddd;
}

.property-menu .main #properties-list li {
  position: relative;
  transition: background-color 0.2s;
  overflow: hidden;
}

.property-menu .main #properties-list li .property {
  cursor: pointer;
  padding: 6px 15px 6px 10px;
  border-bottom: solid 1px #eee;
  text-transform: capitalize;
}

.property-menu .main #properties-list li .property input {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  height: auto;
  text-indent: 10px;
}

.property-menu .main #properties-list li .property .type {
  color: #999;
  float: right;
  transition: margin 0.2s;
  text-transform: lowercase;
}

.property-menu .main #properties-list li .remove-property-button {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 7px;
  width: 14px;
  height: 14px;
  background: #aaa;
  border-radius: 3px;
  cursor: pointer;
  line-height: 13px;
  font-size: 11px;
  text-align: center;
  color: #eee;
  transition: all .2s;
}

.property-menu .main #properties-list li .remove-property-button:hover {
  background-color: #de4041;
  color: #fff;
}

.property-menu .main #properties-list li:hover {
  background-color: #f1f1f1;
}

.property-menu .main #properties-list li:hover .type {
  margin-right: 10px;
}

.property-menu .main #properties-list li:hover .remove-property-button {
  display: block;
}

.property-menu .main .add-button {
  border: none;
  background-color: transparent;
  color: #ddd;
  outline: none;
  display: block;
  width: 100%;
  transition: all 0.2s;
  height: 31px;
}

.property-menu .main .add-button:hover {
  background-color: #f1f1f1;
  color: #666;
}

/* edit mode ================================================================== */

.property-menu .main .property-edit {
  padding: 10px;
  border-left: solid 1px #ddd;
  width: 180px;
  display: none;
  vertical-align: top;
}

.property-menu .main .property-edit.open-wrapper {
  display: inline-block;
}

.property-menu .main .property-edit li {
  padding: 4px 0;
}

.property-menu .main .property-edit input[type="checkbox"] {
  float: left;
}

.property-menu .main .property-edit .hbox {
  display: flex;
}

.property-menu .main .property-edit .hbox > * {
  flex: 1;
}

.property-menu .main .property-edit .default-bool {
  display: flex;
}

.property-menu .main.property-edit .default-bool label {
  margin-right: 3px;
  flex: 1;
}

.property-menu .main .property-edit .default-bool label input {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

.property-menu .main .property-edit input[type="text"],
.property-menu .main .property-edit select {
  width: 100%;
  text-transform: capitalize;
}

.property-menu .main .property-edit .actions {
  display: flex;
}

.property-menu .main .property-edit .actions button {
  flex: 1;
  margin-right: 3px;
}

.property-menu .main #properties-list li .property-edit {
  border-bottom: solid 1px #eee;
}

/* footer ===================================================================== */

.property-menu .footer {
  background: #f1f1f1;
  border-top: solid 1px #ddd;
  padding: 10px;
  display: flex;
}

.property-menu .footer #save-button:hover {
  color: #fff;
  background: #92b344;
  border-color: #7f9c3b;
}

.property-menu .footer #save-button {
  flex: 2;
}

.property-menu .footer #close-button:hover {
  color: #fff;
  background: #b35136;
  border-color: #98452e;
}

.property-menu .footer button {
  flex: 1;
}

.property-menu .footer button:first-child {
  margin-right: 3px;
}