html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* ============================================================================ */
/* Global styles */
/* ============================================================================ */

.no-cursor {
  cursor: none;
}

.graph-editor {
  background: #ebebeb;
  color: #617170;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graph-editor * {
  box-sizing: border-box;
}

.graph-editor {
  height: 100%;
  width: 100%;
}

.graph-editor ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.graph-editor input,
.graph-editor select {
  color: #666;
}

.graph-editor select,
.graph-editor button,
.graph-editor input {
  cursor: pointer;
  height: 24px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graph-editor label {
  cursor: pointer;
}

.graph-editor input[type="checkbox"],
.graph-editor input[type="radio"] {
  height: auto;
  vertical-align: bottom;
}

.graph-editor button {
  border-radius: 3px;
  border: solid 1px #bbb;
  background: #e6e6e6;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  outline: none;
}

.graph-editor button:hover {
  background: #dddddd;
}

.graph-editor button:active {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* ============================================================================ */
/* Node styles */
/* ============================================================================ */

.graph-editor .node.dragging circle {
  cursor: move;
}

.graph-editor .node circle {
  cursor: pointer;
  stroke-width: 5px;
}

.graph-editor .node text {
  white-space: nowrap;
  fill-opacity: 1;
}

.graph-editor .node:focus {
  outline-offset: 5px;
}

/* ============================================================================ */
/* Edge styles */
/* ============================================================================ */

.graph-editor .edge text {
  cursor: pointer;
}

.graph-editor .edge text.dragging {
  cursor: move;
}

.graph-editor .edge path {
  fill: none;
}

.graph-editor .edge text:focus {
  outline-offset: 5px;
}

.graph-editor path {
  stroke-width: 2px;
}

.graph-editor path .path-text {

}

.graph-editor .dragLine {
  stroke-dasharray: 2;
}

.graph-editor .dragLine.hidden {
  display: none;
}

/* ============================================================================ */
/* Context menu styles */
/* ============================================================================ */

.context-menu-layer {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.context-menu {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s;
  min-width: 200px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.context-menu.opened {
  pointer-events: all;
  opacity: 1;
}

.context-menu li {
  border-bottom: solid 1px #fafafa;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.context-menu li:last-child {
  border-bottom: none;
}

.context-menu li:hover {
  background-color: #617170;
  color: #fff;
}

.context-menu li b {
  pointer-events: none;
}

/* ============================================================================ */
/* Properties menu styles */
/* ============================================================================ */

.properties-menu-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/* Properties menu start */

.property-menu {
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  overflow: hidden;
}

.property-menu.edge-properties .header .color {
  display: none;
}

.property-menu.edge-properties .header .label {
  margin-left: 0;
}

.property-menu.opened {
  opacity: 1;
  pointer-events: all;
}

/* header ===================================================================== */

.property-menu .header {
  background: #fafafa;
  border-bottom: solid 1px #ddd;
  padding: 10px 10px 7px;
  position: relative;
}

.property-menu .header input {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.property-menu .header .label {
  margin: 0 22px;
  display: block;
}

.property-menu .header .label input {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  width: 150px;
}

.property-menu .header .label .type {
  display: block;
  color: #888;
  line-height: 7px;
  padding-bottom: 5px;
}

.property-menu .header .color {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px;
  top: 13px;
  border-radius: 50%;
  overflow: hidden;
}

.property-menu .header .color input {
  width: 100px;
  height: 100px;
  margin: -15px;
}

.property-menu .header .drag-handler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  padding-top: 20px;
  padding-left: 5px;
  cursor: move;
}

.property-menu .header .drag-handler:before,
.property-menu .header .drag-handler:after {
  content: '';
  margin-bottom: 2px;
  display: block;
  border-top: dotted 2px #ddd;
  border-bottom: dotted 2px #ddd;
  width: 6px;
  height: 2px;
}

/* main ======================================================================= */

.property-menu .main {
  min-height: 25px;
  display: flex;
}

.property-menu .main .properties {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.property-menu .main ul#properties-list {
  flex: 1;
  max-height: 40vh;
  overflow: auto;
  border-bottom: solid 1px #ddd;
}

.property-menu .main #properties-list li {
  position: relative;
  transition: background-color 0.2s;
  overflow: hidden;
}

.property-menu .main #properties-list li .property {
  cursor: pointer;
  padding: 6px 15px 6px 10px;
  border-bottom: solid 1px #eee;
}

.property-menu .main #properties-list li .property .type {
  color: #999;
  float: right;
  transition: margin 0.2s;
  text-transform: lowercase;
}

.property-menu .main #properties-list li .remove-property-button {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 7px;
  width: 14px;
  height: 14px;
  background: #aaa;
  border-radius: 3px;
  cursor: pointer;
  line-height: 13px;
  text-align: center;
  color: #eee;
}

.property-menu .main #properties-list li:hover {
  background-color: #f1f1f1;
}

.property-menu .main #properties-list li:hover .type {
  margin-right: 10px;
}

.property-menu .main #properties-list li:hover .remove-property-button {
  display: block;
}

.property-menu .main .add-button {
  border: none;
  background-color: transparent;
  color: #ddd;
  outline: none;
  display: block;
  width: 100%;
  transition: all 0.2s;
  height: 31px;
}

.property-menu .main .add-button:hover {
  background-color: #f1f1f1;
  color: #666;
}

/* edit mode ================================================================== */

.property-menu .main .property-edit {
  padding: 10px;
  border-left: solid 1px #ddd;
  width: 180px;
  display: none;
  vertical-align: top;
}

.property-menu .main .property-edit li {
  padding: 4px 0;
}

.property-menu .main .property-edit input[type="checkbox"] {
  float: left;
}

.property-menu .main .property-edit .hbox {
  display: flex;
}

.property-menu .main .property-edit .hbox > * {
  flex: 1;
}

.property-menu .main .property-edit .default-bool {
  display: flex;
}

.property-menu .main.property-edit .default-bool label {
  margin-right: 3px;
  flex: 1;
}

.property-menu .main .property-edit .default-bool label input {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

.property-menu .main .property-edit input[type="text"],
.property-menu .main .property-edit select {
  width: 100%;
}

.property-menu .main .property-edit .actions {
  display: flex;
}

.property-menu .main .property-edit .actions button {
  flex: 1;
  margin-right: 3px;
}

.property-menu .main #properties-list li .property-edit {
  border-bottom: solid 1px #eee;
}

/* footer ===================================================================== */

.property-menu .footer {
  background: #f1f1f1;
  border-top: solid 1px #ddd;
  padding: 10px;
  display: flex;
}

.property-menu .footer #save-button:hover {
  color: #fff;
  background: #92b344;
  border-color: #7f9c3b;
}

.property-menu .footer #save-button {
  flex: 2;
}

.property-menu .footer #close-button:hover {
  color: #fff;
  background: #b35136;
  border-color: #98452e;
}

.property-menu .footer button {
  flex: 1;
}

.property-menu .footer button:first-child {
  margin-right: 3px;
}

/* help icon and panel ========================================================= */

.help,
.info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: help;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #aaa;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), inset 0 1px 4px rgba(255, 255, 255, 0.4), inset 0 -1px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transition: all 0.2s;
  outline: none;
}

.info {
  right: 45px;
}

.help:hover,
.info:hover {
  opacity: 1;
}

.help::after,
.info::after {
  content: '?';
  position: absolute;
  left: 6px;
  top: 0;
  font-size: 9px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.info::after {
  content: 'i';
  left: 7px;
  font-weight: bold;
}

.help:active,
.info:active {
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4), inset 0 -1px 4px rgba(0, 0, 0, 0.1);
}

.help:focus,
.info:focus {
  opacity: 1;
  background-color: dodgerblue;
  box-shadow: none;
  border-radius: 0 0 5px 5px;
  border-top: solid 20px;
  box-sizing: content-box;
  border-color: dodgerblue;
}

.help:focus .help-panel,
.info:focus .info-panel {
  display: block;
  pointer-events: all;
  max-height: 90vh;
  overflow: auto;
}

.info:focus .info-panel {
  display: flex;
}

.help-panel,
.info-panel {
  width: 450px;
  display: none;
  position: absolute;
  bottom: 30px;
  right: -4px;
  background: #ffffff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  pointer-events: none;
  z-index: 1000;
  border-bottom: solid 3px dodgerblue;
}

.info-panel {
  right: -29px;
}

.info-panel {
  width: auto;
}

.info-panel h1 {
  font-size: 100%;
  margin: 0 0 4px 0;
  background: #617170;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: normal;
  color: #fff;
}

.info-panel .col {
  width: 210px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid 1px #eee;
}

.info-panel .col:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.info-panel .col .color {
  width: 7px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-left: 2px;
}

.info-panel .col ul {
  margin-left: 12px;
  margin-bottom: 5px;
}

.info-panel .col ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 90%;
  line-height: 1.5;
  color: #aaa;
}

.info-panel .col ul li b {
  color: #617170;
}

.info-panel .col ul:last-child {
  margin-bottom: 0;
}

.info-panel .col .entity {
  padding: 5px;
  border-radius: 5px;
  transition: background 0.2s;
}

.info-panel .col .entity * {
  pointer-events: none;
}

.info-panel .col .entity:hover {
  background: #eee;
}

.keyboard-button {
  display: inline-block;
  background: #eee;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  padding: 1px 3px;
  min-width: 40px;
  text-align: center;
  font-size: 10px;
  margin: 3px 0;
}

.keyboard-button.big-text {
  font-weight: bold;
  font-size: 14px;
}

/* history ui */

.history {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.history-entry * {
  pointer-events: none;
}