html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.graphEditor {
  background: #ebebeb;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graphEditor * {
  box-sizing: border-box;
}

.graphEditor {
  height: 100%;
  width: 100%;
}

.graphEditor .node.dragging circle {
  cursor: move;
}

.graphEditor .node circle {
  cursor: pointer;
  stroke-width: 5px;
}

.graphEditor .node text {
  white-space: nowrap;
  fill-opacity: 1;
}

.graphEditor path {
  stroke-width: 2px;
}

.graphEditor .dragLine {
  stroke-dasharray: 2;
  stroke: black;
}

.graphEditor .dragLine.hidden {
  display: none;
}

  /*  */
.properties-menu {
  background: #fff;
  display: block;
  height: 1px;
  position: relative;
  width: 100px;
}

.properties-menu .header {
  background: #aaa;
  height: 20px;
}

.properties-menu .main {
  background: #ffffff;
  display: block;
  min-height: 40px;
}

.properties-menu .footer {
  background: #ddd;
  height: 20px;
}

.contextMenuLayer {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.contextMenu {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s;
  width: 200px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.contextMenu.opened {
  pointer-events: all;
  opacity: 1;
}

.contextMenu li {
  border-bottom: solid 1px #fafafa;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.contextMenu li:last-child {
  border-bottom: none;
}

.contextMenu li:hover {
  background-color: #617170;
  color: #fff;
}

.propertiesMenuLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.propertiesMenuLayer .propertyMenu {
  width: 250px;
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  overflow: hidden;
}

.propertiesMenuLayer .propertyMenu.opened {
  opacity: 1;
  pointer-events: all;
}

.propertiesMenuLayer .propertyMenu .header {
  background: #fafafa;
  height: 25px;
}

.propertiesMenuLayer .propertyMenu .main {
  min-height: 25px;
}

.propertiesMenuLayer .propertyMenu .footer {
  height: 25px;
  background: #fafafa;
}