html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.graphEditor {
  background: #ebebeb;
  color: #617170;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graphEditor ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.graphEditor select,
.graphEditor button,
.graphEditor input {
  cursor: pointer;
  height: 24px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.graphEditor label {
  cursor: pointer;
}

.graphEditor input[type="checkbox"],
.graphEditor input[type="radio"] {
  height: auto;
  vertical-align: bottom;
}

.graphEditor * {
  box-sizing: border-box;
}

.graphEditor {
  height: 100%;
  width: 100%;
}

.graphEditor .node.dragging circle {
  cursor: move;
}

.graphEditor .node circle {
  cursor: pointer;
  stroke-width: 5px;
}

.graphEditor .node text {
  white-space: nowrap;
  fill-opacity: 1;
}

.graphEditor path {
  stroke-width: 2px;
}

.graphEditor .dragLine {
  stroke-dasharray: 2;
  stroke: black;
}

.graphEditor .dragLine.hidden {
  display: none;
}

/*  */
.properties-menu {
  background: #fff;
  display: block;
  height: 1px;
  position: relative;
  width: 100px;
}

.properties-menu .header {
  background: #aaa;
  height: 20px;
}

.properties-menu .main {
  background: #ffffff;
  display: block;
  min-height: 40px;
}

.properties-menu .footer {
  background: #ddd;
  height: 20px;
}

.contextMenuLayer {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.contextMenu {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.2s;
  width: 200px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.contextMenu.opened {
  pointer-events: all;
  opacity: 1;
}

.contextMenu li {
  border-bottom: solid 1px #fafafa;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.contextMenu li:last-child {
  border-bottom: none;
}

.contextMenu li:hover {
  background-color: #617170;
  color: #fff;
}

.propertiesMenuLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

/* Properties menu start */

.propertyMenu {
  width: 250px;
  background: #ffffff;
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  overflow: hidden;
}

.propertyMenu.opened {
  opacity: 1;
  pointer-events: all;
}

/* header */

.propertyMenu .header {
  background: #fafafa;
  border-bottom: solid 1px #f1f1f1;
  padding: 10px 10px 7px;
  position: relative;
}

.propertyMenu .header input {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.propertyMenu .header .label {
  margin: 0 22px;
  display: block;
}

.propertyMenu .header .label input {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 24px;
}

.propertyMenu .header .label .type {
  display: block;
  color: #666;
  line-height: 7px;
  padding-bottom: 5px;
}

.propertyMenu .header .color {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px;
  top: 13px;
  border-radius: 50%;
  overflow: hidden;
}

.propertyMenu .header .color input {
  width: 100px;
  height: 100px;
  margin: -15px;
}

.propertyMenu .header .drag-handler {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  padding-top: 20px;
  padding-left: 5px;
  cursor: move;
}

.propertyMenu .header .drag-handler:before,
.propertyMenu .header .drag-handler:after {
  content: '';
  margin-bottom: 2px;
  display: block;
  border-top: dotted 2px #ddd;
  border-bottom: dotted 2px #ddd;
  width: 6px;
  height: 2px;
}

/* main */

.propertyMenu .main {
  min-height: 25px;
  max-height: 600px;
  overflow: auto;
}

.propertyMenu .main ul#properties-list {
}

.propertyMenu .main #properties-list li {
  position: relative;
  transition: background-color 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.propertyMenu .main  #properties-list li .property {
  padding: 6px 15px 6px 10px;
  border-bottom: solid 1px #eee;
}

.propertyMenu .main #properties-list li .property .type {
  color: #999;
  float: right;
  transition: margin 0.2s;
  text-transform: lowercase;
}

.propertyMenu .main #properties-list li .remove-property-button {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 7px;
  width: 14px;
  height: 14px;
  background: #aaa;
  border-radius: 3px;
  cursor: pointer;
  line-height: 13px;
  text-align: center;
  color: #eee;
}

.propertyMenu .main #properties-list li:hover {
  background-color: #f1f1f1;
}

.propertyMenu .main #properties-list li:hover .type {
  margin-right: 10px;
}

.propertyMenu .main #properties-list li:hover .remove-property-button {
  display: block;
}

.propertyMenu .add-button {
  border: none;
  background-color: transparent;
  color: #ddd;
  outline: none;
  display: block;
  width: 100%;
  transition: all 0.2s;
  height: 31px;
}

.propertyMenu .add-button:hover {
  background-color: #f1f1f1;
  color: #666;
}

/* edit mode */

.propertyMenu .edit-mode {
  padding: 10px;
  display: none;
}

.propertyMenu .edit-mode li {
  padding: 4px 0;
}

.propertyMenu .edit-mode input[type="text"],
.propertyMenu .edit-mode select {
  width: 100%;
}

.propertyMenu .edit-mode input[type="number"] {
  width: 49%;
}

/* footer */

.propertyMenu .footer {
  background: #f1f1f1;
  border-top: solid 1px #ddd;
  padding: 10px;
  display: flex;
}

.propertyMenu #save-button:hover {
  color: #fff;
  background: #92b344;
  border-color: #7f9c3b;
}

.propertyMenu #close-button:hover {
  color: #fff;
  background: #b35136;
  border-color: #98452e;
}

.propertyMenu .footer button {
  flex: 1;
  border-radius: 3px;
  border: solid 1px #bbb;
  background: #e6e6e6;
  color: #666;
  transition: all 0.2s;
}

.propertyMenu .footer button:first-child {
  margin-right: 3px;
}

/* Properties menu end */